body {
    background-color: black;
}

.container-geral {
    display: flex;          /* lado a lado das colunas */
    gap: 30px;              /* espaço entre as colunas */
  }
  
  .coluna {
    display: flex;
    flex-direction: column; /* empilha os cards verticalmente */              /* espaço entre os cards */
  }
  
  .card {
    background: #000000;
    color: white;
    padding: 1px;
    border-radius: 8px;
    font-size: 20px;
    text-align: center;
    height: 100px;
    width: 300px;
    margin-left: 240px;
    margin-top: 50px;
    border: 2px solid rgb(255, 230, 0);
  }

.card-color {
    background: #000000;
    color: white;
    padding: 1px;
    border-radius: 8px;
    font-size: 20px;
    text-align: center;
    height: 200px;
    width: 300px;
    margin-left: 240px;
    margin-top: 50px;
    border: 2px solid rgb(0, 89, 255);
}

.card-margin {
    background: #000000;
    color: white;
    padding: 1px;
    border-radius: 8px;
    font-size: 20px;
    text-align: center;
    height: 200px;
    width: 300px;
    margin-left: 240px;
    margin-top: 50px;
    border: 2px solid rgb(0, 81, 255);
}

.card-background {
    background: #000000;
    color: white;
    padding: 1px;
    border-radius: 8px;
    font-size: 20px;
    text-align: center;
    height: 200px;
    width: 300px;
    margin-left: 240px;
    margin-top: 50px;
    border: 2px solid rgb(0, 89, 255)
}

.card-font {
    background: #000000;
    color: white;
    padding: 1px;
    border-radius: 8px;
    font-size: 20px;
    text-align: center;
    height: 160px;
    width: 300px;
    margin-left: 240px;
    margin-top: 50px;
    border: 2px solid rgb(0, 89, 255)
}

.card-padding {
    background: #000000;
    color: white;
    padding: 1px;
    border-radius: 8px;
    font-size: 20px;
    text-align: center;
    height: 300px;
    width: 300px;
    margin-left: 240px;
    margin-top: 50px;
    border: 2px solid rgb(0, 89, 255)
}

.card-display {
    background: #000000;
    color: white;
    padding: 1px;
    border-radius: 8px;
    font-size: 20px;
    text-align: center;
    height: 200px;
    width: 300px;
    margin-left: 240px;
    margin-top: 50px;
    border: 2px solid rgb(0, 89, 255)
}

.card-border {
    background: #000000;
    color: white;
    padding: 1px;
    border-radius: 8px;
    font-size: 20px;
    text-align: center;
    height: 200px;
    width: 300px;
    margin-left: 240px;
    margin-top: 50px;
    border: 2px solid rgb(0, 81, 255);
}

.card-aling {
    background: #000000;
    color: white;
    padding: 1px;
    border-radius: 8px;
    font-size: 20px;
    text-align: center;
    height: 200px;
    width: 300px;
    margin-left: 240px;
    margin-top: 50px;
    border: 2px solid rgb(0, 89, 255)
}

.card-box {
    background: #000000;
    color: white;
    padding: 1px;
    border-radius: 8px;
    font-size: 20px;
    text-align: center;
    height: 170px;
    width: 300px;
    margin-left: 240px;
    margin-top: 50px;
    border: 2px solid rgb(0, 89, 255)
}

.card-radius {
    background: #000000;
    color: white;
    padding: 1px;
    border-radius: 8px;
    font-size: 20px;
    text-align: center;
    height: 300px;
    width: 300px;
    margin-left: 240px;
    margin-top: 50px;
    border: 2px solid rgb(0, 89, 255)
}